<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>
<form th:action="@{/signup}" th:object="${userVO}" method="post">
    <label>
        <input type="text" name="email" th:field="*{email}" placeholder="이메일" required="required">
        <input type="password" name="password" th:field="*{password}" placeholder="비밀번호" required="required">
        <input type="text" name="name" th:field="*{name}" placeholder="이름" required="required">
        <input type="tel" name="phoneNumber" th:field="*{phoneNumber}" placeholder="전화번호" required="required">
    </label>
    <button type="submit">가입하기</button>
</form>
</body>
</html>