<!DOCTYPE html>
<html lang="en-US" dir = "ltr">
    <head>
        <meta charset="UTF-8">
        <title>Spring :: Forget Password?</title>
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../lib/jQuery/jquery-3.4.1.js"></script>
    </head>
    <body>

    <form class="box" action="index.html" method="post">
        <input type="text" name="" placeholder="your ID">
        <input type="email" name="" placeholder="your email">
        <input type="button" name="" value="Send">
        <!-- slide up the pop-up of send correctly and check -->

        <input type="text" name="" placeholder="Auth. Number">
        <input type="button" name="" value="Check">
        
        <!-- activate 'isAuth' class when authenticated -->
        <div class="isAuth">
            <input type="password" name="" placeholder="New Password">
            <input type="password" name="" placeholder="Again">

            <input type="submit" name="" value="Modify">
        </div> 
    </form>
    
    </body>
</html>