<!DOCTYPE html>
<html lang="en-US" dir = "ltr">
    <head>
        <meta charset="UTF-8">
        <title>Spring :: Main page</title>
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../lib/jQuery/jquery-3.4.1.js"></script>
    </head>
    <body>
        <img src="../statics/images/ttagji.jpg" alt="No Image">
        <p>Hi, ${username}</p>

        <input type="button" name="" value="Logout">
        <input type="button" name="" value="Edit Profile">
        <!-- do we need to additional 'modification page'? -->
    </body>
</html>