<!DOCTYPE html>
<html lang="en-US" dir = "ltr">
    <head>
        <meta charset="UTF-8">
        <title>Spring :: Main page</title>
        <link rel="stylesheet" href="../styles/style.css">
        <script src="../lib/jQuery/jquery-3.4.1.js"></script>
    </head>
    <body>
        <a href="@{/}"><img src="../statics/images/ttagji-removebg-preview.png" id="logo"></a>
        <!-- <img src="../statics/images/ttagji.jpg" alt="No Image"> -->
        <p>Hi, $_POST['username']!</p>

        <a class="logout_btn" th:href="@{/login}">Logout</a>
        <a class="profile_btn" th:href="@{/EditProfile}">Profile</a>
    </body>
</html>